@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Display&display=swap');

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  font-family: 'Google Sans Display', sans-serif; /* Apply Google Sans Display font */
  color: grey; /* Set default font color to grey */
}

.gdsc-text span {
  font-size: 4vh;
  transition: all 0.5s ease-in-out;
  transform-origin: left center; /* Set the transform origin to the left */
  transform: rotateY(90deg);
}

.expanded-text {
  font-size: 4vh;
  transition: all 0.5s ease-in-out; /* Default font size for small screens */
}

.red {
  color: #E94234;
}
.grey {
  color: grey;
}


.blue {
  color: #4185F4;
}

.green {
  color: #0E9D58;
}

.yellow {
  color: #FABC04;
}

@media screen and (min-width: 896px) {
  .gdsc-text span {
    font-size: 5.5vh; /* Adjust font size for larger screens */
    transition: all 0.5s ease-in-out;
    transform-origin: left center; /* Set the transform origin to the left */
    transform: rotateY(90deg);
  }
  
  .expanded-text {
    font-size: 5.5vh;
    transition: all 0.5s ease-in-out;
  }
}
