@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Display&display=swap');

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.animation-1 {
  position: absolute;
  animation: floatAnimation 10s infinite linear;
}

.animation-2 {
  position: absolute;
  animation: floatAnimation 12s infinite linear;
}

.animation-3 {
  position: absolute;
  animation: floatAnimation 14s infinite linear;
}

.animation-4 {
  position: absolute;
  animation: floatAnimation 16s infinite linear;
}

@keyframes floatAnimation {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(50vw, 50vh);
  }
  100% {
    transform: translate(0, 0);
  }
}

.about-us-container {
  display: flex;
  justify-content: space-between; /* Adjust this property according to your spacing preference */
  padding-top: 50vh; /* Remove quotes around 50vh */
  margin: 6vw auto;
  max-width: 1000px;
  font-family: 'Google Sans Display', sans-serif; /* Apply Google Sans Display font */
}

.about-us-box {
  width: 300px; /* Set a fixed width for all boxes */
  height: 200px; /* Set a fixed height for all boxes */
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  border: 2px solid black;
  text-align: center;
  margin-right: 20px; /* Add margin to create space between boxes */
  overflow-x: hidden; /* Remove quotes around hidden */
}

.about-us-box:last-child {
  margin-right: 0; /* Remove right margin from the last box */
}

.about-us-box h2 {
  margin-bottom: 10px;
}
